<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basic System - Administrator Panel</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="favicon.png">
    <!---CSS Files-->
    <link rel="stylesheet" href="/admin/_assets/css/core.css">
    <link rel="stylesheet" href="/admin/_assets/css/style.css">
    <link rel="stylesheet" href="/admin/_assets/css/ui.css">
    <link rel="stylesheet" href="/admin/_assets/css/inputs.css">
    <link rel="stylesheet" href="/admin/_assets/css/anims.css">
    <link rel="stylesheet" href="/admin/_assets/css/icons.css">
    <link rel="stylesheet" href="/admin/_assets/css/global.css">
    <!---jQuery Files-->
    <script src="/admin/_assets/js/jquery.js"></script>
    <script src="/admin/_assets/js/jquery-ui.js"></script>
    <script src="/admin/_assets/js/functions.js"></script>
    <script src="/admin/_assets/js/inputs.js"></script>
    <script src="/admin/_assets/js/sparkline.js"></script>
    <script src="/admin/_assets/js/flot.js"></script>
    <script src="/admin/_assets/js/justgage.js"></script>
    <script src="/admin/_assets/js/tablesorter.js"></script>
</head>