<div id="sidebar">
    <div id="avatar"><img src="/admin/_assets/img/avatars/alex.jpg" alt="User avatar"><div id="av-overlay"></div></div>

    <div id="user-notif">
        <div id="user-alert" class="icon-subtractshape mod-tg" data-modal="#notif-mod"><div id="notif-unread" class="notif-tag">3</div></div>
        <div id="coll-sidebar"></div>
    </div>

    <ul id="nav">
        <li class="active"><a href="/admin/index/"><span class="nav-icon icon-home"></span>Panel</a></li>
        <li id="logout"><a href="/session/index/logOut"></a><span class="nav-icon icon-shutdown"></span>Çıkış Yap</li>
    </ul>
</div>