<div id="ui-bar" class="top-bar box ust-kutu">

    <div class="item ig11 tb-act buttons">
        <button onclick="location.href='/admin/villa/'" class="ig4"><span class="icon icon-layers"></span>Villa İslemleri</button>
        <button onclick="location.href='/admin/rezervasyonlar/'" class="ig4"><span class="icon icon-calendar"></span>Rezervasyon İslemleri</button>
        <button onclick="location.href='/admin/blogs/'" class="ig4"><span class="icon icon-book"></span>Blogları Yönet</button>
        <button onclick="location.href='/admin/kullanicilar/'" class="ig4"><span class="icon icon-groups-friends"></span>Kullanıcıları Yönet</button>
    </div>
    <div class="item notifs ig5 bildirim-alani">
        <!--<div class="notif">
            <span class="green icon icon-ok-sign"></span>
            <p><strong>Weekly backup successful</strong>Completed yesterday, at 12:01 PM</p>
        </div>
        <div class="notif">
            <span class="red icon icon-lightningalt glow"></span>
            <p><strong>Warning: reactor core temperature critical</strong>Core failure imminent</p>
        </div>
        <div class="notif">
            <span class="blue icon icon-info-sign"></span>
            <p><strong>Oops, sorry about the scare</strong>It was just a bad sensor</p>
        </div>-->
    </div>
    <span id="tb-handle"></span>

</div>